#site-header {
  box-sizing: border-box;
  display: flex;
  background-color: var(--primary);
  padding: 20px 0;
  /* justify-content: center; */
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 1000;
}

#site-header>.links {
  /* flex: 1; */
}

#site-header search {
  flex: 1
}

#site-header>div {
  padding: 0 0 0 20px;
}